
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
<h2 align="center">Add New items</h2>
<%= form_for @lost do |f| %>
	<p><%= f.label :item_name %>
	   <%= f.text_field(:item_name, {:class => 'form-control'}) %></p>
	<p><%= f.label :item_desc %>
		<%= f.text_area(:item_desc,{:class => 'form-control'})%>	
	</p>
	<p><%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select One"} %><br/></p>
	<p><%= f.submit({:class => 'btn btn-primary'})%></p>
<%end%>
</div>
</div>